#windows{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.381);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;

    transform: scale(5);
    pointer-events: none;
    opacity: 0;
    /*filter: opacity(1);*/
    transition: 0.5s ease;
}
#windows > :nth-child(1){
    display: none;/*////////////////////////////////////////////////////////////*/
    border: 2px solid aliceblue;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    
    padding: 7px 12px;
    width: 90%;
    max-width: 600px;
    min-width: 350px;
}
#windows > :nth-child(1) > :nth-child(1){
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 25px;
    color: aliceblue;
    margin: 0 0 30px 0;
    text-decoration: underline;
}
#windows > :nth-child(1) > :nth-child(1) img{
    width: 40px;
    height: 40px;
    transform: rotateZ(-25deg);
}
/*////////////////////////////////////////*/
#windows > :nth-child(1) > :nth-child(2){
    text-align: center;
    margin: 0 0 40px 0;
}
#windows > :nth-child(1) > :nth-child(2) > :nth-child(1){
    font-size: 25px;
    margin: 0 0 20px 0;
}
/*//////////////////////////////////////////*/
#windows > :nth-child(1) > :nth-child(3){
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}
#windows > :nth-child(1) > :nth-child(3) span{
    font-size: 20px;
    text-transform: capitalize;
    border: 2px solid white;
    width: 45%;
    text-align: center;
    border-radius: 50px;
    padding: 3px 0;
    cursor: pointer;
}
#windows > :nth-child(1) > :nth-child(3) > :nth-child(1){
    background-color: aqua;
    color: black;
}
/*//////////////// FENETRE DE DEPOT D'ARGENT ////////////////////////////////////*/
#windowsDepot{
    display: none;/*////////////////////////////////////////////////////////////*/
    border: 2px solid aliceblue;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 7px 12px;
    width: 90%;
    max-width: 600px;
    min-width: 350px;
}
#windowsDepot > :nth-child(1){
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 25px;
    color: aliceblue;
    margin: 0 0 30px 0;
    text-decoration: underline;
}
#windowsDepot > :nth-child(1) img{
    width: 40px;
    height: 40px;
    transform: rotateZ(-25deg);
}
#windowsDepot > :nth-child(2){
    margin: 0 0 40px 0;
    font-size: 20px;
}
#windowsDepot > :nth-child(2) > :nth-child(1){
    font-size: 25px;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: capitalize;
}
#windowsDepot > :nth-child(3){
    margin: 0 0 20px;
}
#windowsDepot > :nth-child(3) > :nth-child(1){
    display: flex;/*////// sous menu /////////////*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 25px 0;

}
#windowsDepot > :nth-child(3) > :nth-child(1) > :nth-child(1){
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
}
#windowsDepot > :nth-child(3) > :nth-child(1) > div{
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: row;
}
#windowsDepot > :nth-child(3) > :nth-child(1) > :nth-child(2) > :nth-child(1), #windowsDepot > :nth-child(3) > :nth-child(1) > :nth-child(3) > :nth-child(1){
    margin: 0 20px 0 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
#windowsDepot > :nth-child(3) > :nth-child(1) > :nth-child(3) > :nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 200px;
}
#windowsDepot > :nth-child(3) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2){
    background-color: orange;
    width: 75px;
    padding: 4px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
#IdTransac{
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
}
#IdTransac > :nth-child(1){
        margin: 0 20px 0 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
#windowsDepot > :nth-child(3) > :nth-child(1) > :nth-child(1) span{
    font-size: 20px;
    margin: 0 5px 0 5px;
    border: 2px solid white;
    padding: 4px 10px;
    width: 45%;
    height: 45px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
#windowsDepot > :nth-child(3) > :nth-child(1) > :nth-child(1) > :nth-child(1){
    
    border: none;
    background-color: rgb(123, 255, 0);
    color: black;
}
#windowsDepot > :nth-child(3) > :nth-child(2), #windows > :nth-child(2) > :nth-child(3) > :nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;

}
#windowsDepot > :nth-child(3) input{
    width: fit-content;
    height: 30px;
    padding: 2px 0;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    margin: 0 0 0 7px;
}
#windowsDepot > :nth-child(4){
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}
#windowsDepot > :nth-child(4) span{
    font-size: 20px;
    text-transform: capitalize;
    border: 2px solid white;
    width: 45%;
    text-align: center;
    border-radius: 50px;
    padding: 3px 0;
    cursor: pointer;
}
#windowsDepot > :nth-child(4) > :nth-child(1){
    background-color: aqua;
    color: black;
}
/*///////////// Investment ////////////*/
#PutInvestment{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 10px;
    width: 90%;
    max-width: 600px;
    min-width: 350px;
}
#PutInvestment > h1{
    font-size: 25px;
    padding: 10px 30px;
    margin: 0 0 15px 0;
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
}
#PutInvestment > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 90%;
    margin: 0 0 15px 0;
}
#PutInvestment > :nth-child(2){
    border-bottom: 2px solid gray;
}
#PutInvestment > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#PutInvestment > div > div span{
    font-size: 20px;
    margin: 0 0 10px 0;
}
#PutInvestment > :nth-child(4){
    margin-top: 25px;
}
#PutInvestment > :nth-child(4) span{
    font-size: 30px;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 10px 0;
    width: 100%;
    border-radius: 20px;
    background-color: orange;
    cursor: pointer;
}
#PutInvestment > div > div input{
    

    min-width: 150px;
    max-width: 200px;
    justify-self: end;
    border-radius: 10px;
    text-align: center;
    padding: 3px 0;
    outline: none;
    border: none;
}
/*//////////////////////////////////////*/
.full{
    margin: 20px 0 0 0;
    font-size: 19px;
    word-spacing: 4px;
}
.ParrainLink{
    margin: 30px 0 0 0;
    display: none;
    justify-content: flex-start;
    width: fit-content;
    max-width: 90%;
    
}

.ParrainLink > :nth-child(2){
    display: flex;
    align-items: center ;
    margin: 0 0 0 25px;
    font-size: 18px;
    color: rgb(255, 166, 0);
    font-weight: 800;
    cursor: pointer;
    background-color: rgb(0, 95, 95);
    padding: 4px 25px;
    border-radius: 20px;
}
/*/////////////////// sapce background ////////////////*/
.space{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid white;

    border-radius: 20px;
    height: 300px;
    margin: 0 0 25px 0;
    padding: 0 13px;
    overflow-y: scroll;
}
.space > h1{
    font-size: 30px;
    margin: 12px 0 0 0;
}
.space > :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 100px 0;
    
}
#TransactContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    margin: 10px 0 20px 0;
    padding: 4px 7px;
    border-radius: 10px;
    width: 100%;

}
#TransactContent > :nth-child(1){
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom: 2px solid gray;
}
#TransactContent > :nth-child(1) span{
    font-size: 20px;
}
#TransactContent > :nth-child(2){
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
#TransactContent > :nth-child(2) > :nth-child(1){
    display: flex;
    justify-content: space-between;
    padding: 10px 0 5px 0;
    border-bottom: 2px solid gray;
    
}
#TransactContent > :nth-child(2) > :nth-child(1) span{
    font-size: 20px;
}
#TransactContent > :nth-child(2) > :nth-child(2){
    display: flex;
    justify-content: space-between;
    padding: 10px 0 5px 0;
}
#TransactContent > :nth-child(2) > :nth-child(2) span{
    font-size: 20px;
}
/*///////////////// background ///////////////////*/
video[src="video/cristaux.mp4"]{
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(02);
    background-image: url("video/cristauximage.jpg");
}
video[src="video/tourbillonvideo.mp4"]{
    position: fixed;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: brightness(.4) blur(02px);
    background-image: url("video/tourbillonimage.jpg");
}
video[src="video/inscriptionVideo.mp4"]{
    position: fixed;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: brightness(1.2);
    backdrop-filter: blur(20px);
    background-image: url("video/inscriptionImage.jpg");
}
#Inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(7px);
    width: 80%;
    max-width: 800px;
}
#Inscription input{
    border: none;
    outline: none;
    border-radius: 50px;
    margin: 5px 0 5px 0;
    height: 50px;
    width: 90%;
    text-align: center;
    font-size: 20px;
}
#Inscription > :last-child{
    width: 90%;
    text-align: center;
    border: 2px solid orange;
    border-radius: 30px;
    font-size: 25px;
    text-transform: capitalize;
    color: aliceblue;
    padding: 7px 0;
    margin: 35px 0 0 0;
    cursor: pointer;
}
#Inscription > :last-child:hover{
    font-size: 27px;
    background-color: orange;
    border: none;
}
#Inscription > :nth-child(1) img{
    width: 50px;
    height: 50px;
    rotate: -25deg;
}
#Inscription > :nth-child(1){
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    color: aliceblue;
    font-size: 25px;
    margin: 0 0 30px 0;
}
.Deconectbtn{
    cursor: pointer;
    border: 2px solid orange;
    padding: 7px 0;
    width: 60%;
    color: aliceblue;
    font-size: 25px;
    margin: 25px;
    text-align: center;
    border-radius: 20px;
}
.Deconectbtn:hover{
    background-color: orange;
    border: none;
    font-size: 27px;
}
/*//////////// notification gestuel //////////////////*/
.Notif img{
    width: 25px;
    height: 25px;
    rotate: -25deg;
}
.Notif{
    position: fixed;
    right: 0;
    bottom: 0;
    border: 2px solid rgb(82, 187, 236);
    border-radius: 10px;
    backdrop-filter: blur(7px);
    padding: 2px 7px;
    display: flex;
    flex-direction: column;

    width: 300px;
    transform: translateX(100%);
    transition: transform 0.5s;
}
.Notif > :nth-child(1){
    align-self: end;
    display: flex;
    align-items: center;
    margin: 0 0 24px 0;
}
.Notif > :nth-child(1) span{
    color: aliceblue;
    font-size: 15px;
}
.Notif > :nth-child(2){
    color: aliceblue;
    font-size: 20px;
    
}
/*////////////// temrs /////////////////*/
.terms{
    font-size: 20px;
    text-align: center;
    color: white;
}
.terms mark{
    background-color: transparent;
    font-style: italic;
    color: aliceblue;
    font-weight: 600;
}
.terms a{
    text-decoration: underline;
    text-transform: capitalize;
    color: aqua;
}
@media (max-width: 768px){/*smartphone*/
#Inscription > :nth-child(1){
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    color: aliceblue;
    font-size: 25px;
    margin: 0 0 30px 0;
}
}
@media (min-width: 769px){/*smartphone*/
#Inscription > :nth-child(1){
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    color: aliceblue;
    font-size: 30px;
    margin: 0 0 30px 0;
}
}